.toolbar {
  @include box-shadow;
  border-radius: 10px;
  background: white;
  padding: 20px;
  width: 100%;
  margin: 20px 0;

  &#instagram-toolbar {
    .profile-pic {
      height: 80px;
      width: 80px;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 99px;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        display: inline-block;
        padding: 10px;
      }
    }
  }
}
