/*--------------------------------------
         IMPORT HELPERS
---------------------------------------*/
/*--------------------------------------
         MIXINS
---------------------------------------*/
/*--------------------------------------
         IMPORT layout
---------------------------------------*/
#dashboard {
  width: 100%;
  position: relative;
  height: calc(100vh - 64px); }

/*--------------------------------------
         IMPORT partials
---------------------------------------*/
.toolbar-container {
  width: calc(100% - 200px);
  height: 100%;
  float: right;
  padding: 40px; }
  .toolbar-container .toolbar {
    -webkit-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
    -moz-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
    box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
    border-radius: 10px;
    background: white;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px; }

#instagram-toolbar {
  -webkit-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
  -moz-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
  box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4); }
  #instagram-toolbar .profile-pic {
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 99px; }
  #instagram-toolbar ul {
    display: flex;
    align-items: center;
    margin: 0; }
    #instagram-toolbar ul li {
      display: inline-block;
      padding: 10px; }

.profile-pic {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 99px; }

.spinner-wrapper {
  height: calc(100% - 64px);
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000; }

.overlay-wrapper {
  height: calc(100% - 64px);
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden; }
  .overlay-wrapper .overlay-container {
    -webkit-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
    -moz-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
    box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
    border-radius: 10px;
    background: white;
    padding: 30px;
    width: 50%;
    z-index: 510;
    margin-top: -64px; }
    .overlay-wrapper .overlay-container .overlay-content {
      z-index: 520; }

nav {
  background-color: lightgrey !important; }

#menu-bar {
  float: left;
  width: 200px;
  height: 100%;
  border-right: 1px solid lightgrey; }

#onboarding {
  height: 100%; }
  #onboarding .slick-slider {
    height: 100%; }
    #onboarding .slick-slider .slick-list {
      height: 100% !important; }
      #onboarding .slick-slider .slick-list .slick-track {
        height: 100%; }
        #onboarding .slick-slider .slick-list .slick-track .slick-slide {
          height: 100%; }
          #onboarding .slick-slider .slick-list .slick-track .slick-slide .container, #onboarding .slick-slider .slick-list .slick-track .slick-slide .row {
            height: 100%; }
            #onboarding .slick-slider .slick-list .slick-track .slick-slide .container .slide, #onboarding .slick-slider .slick-list .slick-track .slick-slide .row .slide {
              height: 50%;
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  #onboarding .slick-arrow {
    background: black; }

/*# sourceMappingURL=main.css.map */